{% extends "base.html" %}
{% block title %}Project - TaskTracker{% endblock %}
{% block content %}
  <section class="form-panel">
    <h1>{% if object %}Edit project{% else %}New project{% endif %}</h1>
    <form method="post" class="form">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <label>Area {{ form.area }}{{ form.area.errors }}</label>
      <label>Name {{ form.name }}{{ form.name.errors }}</label>
      <label>Description {{ form.description }}{{ form.description.errors }}</label>
      <label>Status {{ form.status }}{{ form.status.errors }}</label>
      <label class="color-picker">Color {{ form.color }}{{ form.color.errors }}<span class="color-swatches" data-color-swatches></span></label>
      <button type="submit">Save project</button>
    </form>
  </section>
{% endblock %}
